body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
  }

  .calc__border{
    border: 1px solid black;
    box-shadow: 4px 6px 8px -1px rgba(0,0,0,0.93);
    border-radius: 8px;
    background-color: #d9ae00;
    margin: 10% auto;
    display: flex;
    max-width: 280px;
    padding: 20px;
  }
  
  .calc__container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .calc__display {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 48px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: right;
    width: 100%;
  }
  
  .calc__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .calc__button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 60px;
    width: 60px;
  }
  
  .calc__button:hover {
    background-color: #2d2407;
    height: 63px;
    width: 63px;
    transition: 0.3s;

  }
  

  @media (max-width: 600px) {
    .display {
      font-size: 36px;
      height: 60px;
      line-height: 60px;
    }
    
    .button {
      font-size: 18px;
      height: 40px;
      width: 40px;
    }
  }
  
  